:root {
  --color-p-organge-100: hsl(31, 77%, 52%);
  --color-p-cyan-100: hsl(184, 100%, 22%);
  --color-p-cyan-700: hsl(179, 100%, 13%);

  --color-n-white-100: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --color-n-gray-100: hsl(0, 0%, 95%); /* background, headings, buttons */

  --font-heading: "Big Shoulders Display", cursive;
  --font-normal: "Lexend Deca", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: 1fr min-content;
  min-width: 20.4375rem;
  min-height: 100vh;
  background-color: var(--color-n-gray-100);
  font-family: var(--font-normal);
  font-size: 0.9375rem;
  line-height: 1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.cards {
  max-width: 20.4375rem;
}
.card {
  padding: 3rem;
  overflow: hidden;
}
.card__type {
  color: #fff;
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 700;

  text-transform: uppercase;
}
.card__body {
  margin: 1.8rem 0 1.6rem 0;
  color: var(--color-n-white-100);
  font-size: 0.9375rem;
  line-height: 1.667;
}
.card__icon {
  width: 4rem;
  height: 2.5rem;
  margin-bottom: 2.1875rem;
}
.card--sedans {
  background-color: var(--color-p-organge-100);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card--suvs {
  background-color: var(--color-p-cyan-100);
}
.card--luxury {
  background-color: var(--color-p-cyan-700);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 0.9rem 1.96875rem;
  background-color: var(--color-n-gray-100);
  border: 2px solid var(--color-n-gray-100);
  border-radius: 100rem;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.btn:hover,
.btn:active,
.btn:focus {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  outline: none;
}
.btn:active {
  transform: translateY(2px);
}
.btn--sedans {
  color: var(--color-p-organge-100);
}
.btn--suvs {
  color: var(--color-p-cyan-100);
}
.btn--luxury {
  color: var(--color-p-cyan-700);
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem 0;
  padding: 0.5rem 0;
  font-size: 0.75rem;
  color: #fff;
  background-color: var(--color-p-cyan-700);
}
.footer__link,
.footer__link:link,
.footer__link:visited {
  color: var(--color-p-organge-100);
  font-weight: 700;
  text-decoration: none;
}
.footer__link:hover,
.footer__link:active,
.footer__link:focus {
  border-bottom: 3px solid var(--color-p-organge-100);
  outline: none;
}

@media screen and (min-width: 70rem) {
  .cards {
    display: flex;
    max-width: 57.5rem;
  }
  .card__body {
    margin-bottom: 5.1875rem;
  }
  .card--sedans {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: 0;
  }
  .card--luxury {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .footer {
    flex-direction: row;
    gap: 0 1rem;
    padding: 0.75rem 0;
  }
}
