:root {
  --color-primary-blue-100: hsl(225, 100%, 94%);
  --color-primary-blue-200: hsl(245, 75%, 52%);
  --color-neutral-blue-100: hsl(228, 100%, 98%);
  --color-neutral-blue-200: rgb(114, 128, 167);
  --color-neutral-blue-300: rgb(31, 47, 86);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  background: url("../images/pattern-background-mobile.svg") no-repeat;
  background-size: 640px 194px;
  background-position: center top;
  background-color: var(--color-primary-blue-100);
  min-height: 100vh;
}
.card {
  display: grid;
  grid-template-columns: 20.4375rem;
  grid-template-rows: 10rem repeat(3, min-content);
  min-width: 0.4375rem;
  background-color: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 15.18%);
}
.card__top-image {
  background-image: url("../images/illustration-hero.svg");
  background-size: cover;
}
.card__header-box {
  margin: 2rem 0 0;
  padding: 0 2rem;
  text-align: center;
}
.card__title {
  margin-bottom: 1rem;
  color: var(--color-neutral-blue-300);
  font-size: 1.375rem;
  font-weight: 900;
}
.card__body {
  color: var(--color-neutral-blue-200);
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.6;
}
.card__price-box {
  display: flex;
  align-items: center;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 0.875rem;
  background-color: var(--color-neutral-blue-100);
  border-radius: 0.6875rem;
}
.subscription__container {
  margin-left: 1.25rem;
  margin-right: auto;
}
.subscription__title {
  color: var(--color-neutral-blue-300);
  font-weight: 900;
}
.subscription__price {
  color: var(--color-neutral-blue-200);
  font-weight: 500;
}
.subscription__change-btn {
  background: transparent;
  font-family: inherit;
  color: var(--color-primary-blue-200);
  font-size: 0.8125rem;
  font-weight: 700;
  text-decoration: underline;
  border: none;
}
.cta-box {
  margin: 0 1.5rem;
}
.btn:link,
.btn:visited {
  display: block;
  width: 100%;
  padding: 0.9375rem 4rem;
  font-size: 0.9375rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.btn--outline {
  color: var(--color-neutral-blue-200);
  margin-bottom: 1.0625rem;
}
.btn--full {
  color: #fff;
  background-color: var(--color-primary-blue-200);
  box-shadow: 0 20px 20px 0 rgba(56, 42, 225, 15%);
  border-radius: 0.6875rem;
  margin-bottom: 0.5625rem;
}

@media screen and (min-width: 40rem) {
  body {
    background: url("../images/pattern-background-desktop.svg") no-repeat;
    background-size: 100%;
    background-position: left -10vh;
    background-color: var(--color-primary-blue-100);
  }
  .card {
    grid-template-columns: 28.125rem;
    grid-template-rows: 13.75rem repeat(3, min-content);
  }
  .card__header-box {
    margin: 2.8125rem 0 1.25rem;
    padding: 0 3rem;
    text-align: center;
  }
  .card__title {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
  .card__body {
    font-size: 1rem;
  }
  .card__price-box {
    display: flex;
    align-items: center;
    margin: 0 3rem 2rem;
    padding: 1.5625rem;
    font-size: 1rem;
  }
  .btn {
    transition: all 100ms ease-in-out;
  }
  .subscription__container {
    margin-left: 1.25rem;
    margin-right: auto;
    line-height: 1.6;
  }
  .subscription__change-btn {
    font-size: 0.875rem;
    transition: all 100ms ease-in-out;
  }
  .subscription__change-btn:hover,
  .subscription__change-btn:focus {
    cursor: pointer;
    color: #766cf1;
    text-decoration: none;
  }
  .subscription__change-btn:active,
  .btn--outline:active,
  .btn--full:active {
    transform: translateY(3px);
  }
  .cta-box {
    margin: 0 3rem;
  }
  .btn--outline {
    margin-bottom: 2.0625rem;
  }
  .btn--full {
    margin-bottom: 1rem;
  }
  .btn--full:hover,
  .btn--full:focus {
    cursor: pointer;
    background-color: #766cf1;
  }
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0.25rem 0;
  text-align: center;
}
.footer__body {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}
