:root {
  --color-p-organge-100: hsl(31, 77%, 52%);
  --color-p-cyan-100: hsl(184, 100%, 22%);
  --color-p-cyan-700: hsl(179, 100%, 13%);

  --color-n-white-100: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --color-n-gray-100: hsl(0, 0%, 95%); /* background, headings, buttons */

  --font-heading: "Big Shoulders Display", cursive;
  --font-normal: "Lexend Deca", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  min-width: 20.4375rem;
  font-family: var(--font-normal);
  font-size: 0.9375rem; /* 15px */
  background-color: var(--color-n-gray-100);
  line-height: 1.667;
}
.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: 20.4375rem;
  grid-auto-rows: min-content;
  margin: 2rem 0;
}
.card {
  padding: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card__icon {
  width: 4rem;
  height: 2.5rem;
  margin-bottom: 2.1875rem;
}
.card__type {
  line-height: 1;
  color: var(--color-n-gray-100);
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.card__body {
  color: var(--color-n-white-100);
  margin: 1.5625rem 0;
}
.card--sedans {
  background-color: var(--color-p-organge-100);
  padding-bottom: 3.6rem;
}
.card--suvs {
  background-color: var(--color-p-cyan-100);
  transform: translateY(-0.6rem);
  padding-bottom: 3.6rem;
}
.card--luxury {
  background-color: var(--color-p-cyan-700);
  transform: translateY(-1.2rem);
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 0.75rem 1.96875rem;
  background-color: var(--color-n-gray-100);
  border-radius: 100rem;
  text-decoration: none;
  border: 2px solid transparent;
  transition: all 100ms ease-in-out;
}
.btn:hover {
  background-color: hsla(0, 0%, 95%, 0.8);
}
.btn:active,
.btn:focus {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}
.btn--sedans {
  color: var(--color-p-organge-100);
}
.btn--suvs {
  color: var(--color-p-cyan-100);
}
.btn--luxury {
  color: var(--color-p-cyan-700);
}
.footer {
  position: relative;
  display: block;
  width: 100%;
  color: hsl(179, 100%, 43%);
  background-color: hsl(179, 100%, 23%);
  text-align: center;
}
.footer__body {
  display: block;
}
.footer__link {
  color: var(--color-p-organge-100);
  text-decoration: none;
}
@media screen and (min-width: 70rem) {
  .cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 19.75rem) 19.25rem;
    grid-template-rows: min-content;
    margin: 0;
  }
  .card {
    transform: translate(0);
    padding-bottom: 3rem;
  }
  .card__body {
    padding-bottom: 3.65rem;
  }
  .card--suvs {
    transform: translateX(-0.6rem);
  }
  .card--luxury {
    transform: translateX(-1.2rem);
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
  .footer__body {
    display: inline-block;
  }
}
